body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 20px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.contact {
    font-size: 14px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    padding-top: 30px;
}
.text-content {
    max-width: 50%;
}
.intro {
    font-size: 45px;
    font-weight: bold;
}
h1 {
    font-size: 40px;
    line-height: 1.2;
    color: #777;
}
h1 span {
    text-decoration: underline;
    text-decoration-color: #b3e5fc;
}
button {
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
.image-content img {
    width: 400px; 
    height: 500px; 
    object-fit: cover; 
    display: block;
    border-radius: 50%;
    background-color: #777;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    font-size: 35px; /* Adjust icon size */
    color: black; /* White icons */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.2);
}

